{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2023,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error"
  }
}
